rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        match /users/{document=**} {
            // Allow username availability queries
            allow list: if request.query.filters.size() == 1
                && request.query.filters[0].field == "username";
        }
    }
}