# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.env.local
AuthKey.json

# Bundler
vendor/bundle
.bundle

# Certificate files (should never be committed)
*.p12
*.mobileprovision
*.cer
*.certSigningRequest
AuthKey_*.p8
