name: Deploy to Firebase App Hosting (Production)
on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.3'
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Build Web
        run: flutter build web --release

      - name: Deploy to Firebase App Hosting
        uses: google-github-actions/deploy-appengine@v1
        with:
          credentials: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_PROD }}
          deliverables: build/web
          project_id: maypole-flutter-ce6c3
          version: prod