name: Deploy to Firebase Hosting (Development)
on:
  push:
    branches:
      - develop

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.0'
          channel: 'stable'

      - name: Flutter pub get
        run: flutter pub get

      - name: Build Web
        run: flutter build web --release

      - name: Deploy to Firebase App Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          fireBaseServiceAccount: ${{ secrets.MAYPOLE_FIREBASE_SERVICE_ACCOUNT_DEV }}
          projectId: maypole-flutter-dev
          version: dev
          channelId: live